# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Application of Boosted Tree Classifier for Predicting Disease from Symptoms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
